version: "3.8" # versión de Docker Compose
name: "pruebas_cake_and_react" # Nombre del proyecto

services:
  # Servicio del servidor web Nginx
  server:
    image: nginx:latest
    ports:
      - "8080:80" # Expone el puerto 8080 de tu máquina al puerto 80 del contenedor
    volumes:
      - .:/var/www/html # Monta tu carpeta actual (con index.php) dentro del contenedor
      - ./nginx.conf:/etc/nginx/conf.d/default.conf # Monta nuestro archivo de config de Nginx

  # Servicio de PHP-FPM
  php:
    image: php:7.4-fpm # ¡La versión que pediste!
    volumes:
      - .:/var/www/html # Monta la misma carpeta para que PHP pueda ver el index.php
