# https://devopscycle.com/blog/the-ultimate-docker-compose-cheat-sheet
name: "pruebas_cake_and_react" # Nombre del proyecto

services:
  # Servicio del servidor web Nginx
  server:
    image: nginx:latest
    ports:
      - "8080:80" # Expone el puerto 8080 de tu máquina al puerto 80 del contenedor
    volumes:
      - ./webroot:/var/www/html/webroot # Sincroniza SOLO la carpeta 'webroot', que es lo único que Nginx necesita servir
      - ./docker/server/nginx.conf:/etc/nginx/conf.d/default.conf # Monta archivo de config de Nginx
    depends_on:
      - php # Se asegura de que PHP inicie primero

  # Servicio de PHP-FPM
  php:
    build:
      context: . # El contexto sigue siendo la raíz ('.')
      dockerfile: ./docker/php/Dockerfile # Le decimos dónde está el Dockerfile
    volumes:
      # Carpetas clave para el desarrollo en vivo.
      - ./config:/var/www/html/config
      - ./src:/var/www/html/src
      - ./webroot:/var/www/html/webroot
      - ./tmp:/var/www/html/tmp
      - ./logs:/var/www/html/logs
